<ul class="field-notes-items">
    <?php foreach ($notesList as $index => $note): ?>
        <li class="field-notes-item">
            <a
                href="javascript:;"
                class="<?= $index === 0 ? 'checked' : ''; ?>"
                data-request-data="id:<?= e($note['id']) ?>"
            >
                <div>
                    <h3>
                        <?= e($note['name']) ?>
                    </h3>
                    <h4>
                        <?= e($note['updated_at']) ?>
                    </h4>
                </div>
            </a>
        </li>
    <?php endforeach ?>
</ul>
